# C

.libs
autom4te.cache/
build/
include/
modules/

*.m4
*.lo
*.la
.deps
config.*
configure
configure.in
install-sh
libtool
ltmain.sh
Makefile*
missing
mkinstalldirs
run-tests.php

!config.m4

# PHP

vendor/
composer.lock
composer.phar