#IDE
.idea/

#PHP
vendor/
composer.lock
composer.phar

#Build
.libs/
autom4te.cache/
build/
include/
modules/

*.la
*.lo
*.log
*.m4

.deps
config.*
configure*
install-sh
libtool
ltmain.sh
Makefile*
missing
mkinstalldirs
run-tests.php

!config.m4